.flex-container {
    display: flex;
}

.flex-fill {
    flex: 1;
}

.flex-grow-0 {
    flex-grow: 0;
}

.course-status {
    width: 250px;
    margin-left: 30px; 
    margin-top: 10px;
}


.wd-kanbas-navigation-narrow {
list-style: none;
width: 100%;
}
.wd-kanbas-navigation-narrow li {
display: flex;
align-items: center;
padding: 10px; 
margin-bottom: 5px;
font-size: 0.8em; 
text-align: center;
width: 100%;
}

.wd-kanbas-navigation-narrow li a {
    display: flex;
    align-items: center;
    color: crimson;
    text-decoration: none;
    }

.wd-kanbas-navigation-narrow li a i {
    font-size: 2em;
    margin-right: 15px;
    }

.wd-course-navigation-narrow {
list-style: none;
width: 100%;
}
.wd-course-navigation-narrow li {
display: flex;
align-items: center;
padding: 2px; 
margin-bottom: 5px;
font-size: 0.8em; 
text-align: center;
}

.wd-course-navigation-narrow li a {
    display: flex;
    align-items: center;
    width: 100%;
    color: crimson;
    text-decoration: none;
    white-space: nowrap;
    }

.wd-course-navigation-narrow li a i {
    font-size: 2em;
    margin-right: 10px;
    }    

.min-height {
    min-height:100vh;
}    


